* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-size: 1em;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
    background-color: white;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 32px;
    margin-right: 8;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}



.banner {
    display: flex;
    align-items: center;
    padding: 32px 24px;
    gap: 24px;
    background-color: #e0e0e0;
}

.banner-img {
    width: 60%;
     padding: 16px;
}

.banner-img img {
    width: 100%;
    height: auto;
     
}

.banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;

}

.banner-text h1 {
    font-weight: bold;
    font-size: 40px;

}

.banner-text p {
    font-size: 18px;
    color: #666;
    font-weight: bold;
}

.banner-text button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    width: 60%;
    text-align: center;
}

.banner-text button:hover {
    background-color: #555;
}

.container {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 32px 24px;

}


.main-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-image img {
    width: 100%;
    height: auto;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-text h2 {
    font-size: 28px;
    color: #333;


}

.main-text p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.main-text .author {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.info-block {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;

}

.info-block img {
    width: 35%;
    height: auto;
}

.info-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 65%;

}

.info-text h3 {
    font-size: 20px;
    color: #333;
}

.info-text p {
    font-size: 14px;
    color: #666;
}

.info-text a {
    color: #1e90ff;
    text-decoration: none;
    font-size: 14px;
}

.info-text a:hover {
    text-decoration: underline;
}

.main-1 {
    background-color: hsl(0, 0%, 88%);
    padding: 32px 72px;
}

.main-1 h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 32px;
    text-align: center;

}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    
}

.course-card {
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;

}

.course-card img {
    width: 100%;
    height: auto;
}

.course-card h3 {
    font-size: 20px;
    color: #333;
    margin: 16px 24px 8px;
}

.course-card p:nth-of-type(1) {
    font-size: 14px;
    color: #666;
    margin: 0 24px;
}

.course-card p:nth-of-type(2) {
    font-size: 14px;
    color: #666;
    margin: 16px 24px 24px;
    line-height: 1.5;
}



.main-2 h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 32px;
    margin-top: 32px;
    text-align: center;
}

.div-4 {
    display: flex;
    gap: 24px;
    padding: 0 24px;
}

.div4-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.video-placeholder {
    width: 100%;
    height: 400px;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.div4-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.div4-text h2 {
    font-size: 28px;
    color: #333;
}

.div4-text p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}


.sider {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
   

}

.div4-block {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    padding: 16px;

}

.div4-block img {
    width: 35%;
    height: auto;
}

.div4-text {
    padding: 40px 16px 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 65%;
}

.div4-text h3 {
    font-size: 20px;
    color: #333;
}

.div4-text p {
    font-size: 14px;
    color: #666;
}

footer {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

footer p {
    font-size: 14px;
    color: #666;
}

footer nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

footer nav ul li a {
    font-size: 14px;
    color: #666;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
  body {
    font-size: 1.2em;
  }
}